.mdui-list-item-text {
  opacity: 0.9 !important;
}
.advantage-list {
  width: 100%;
}
.mdui-progress {
  margin-top: 12px;
  margin-bottom: 12px;
}
@media (prefers-reduced-motion: reduce) {
  .mdui-progress {
    transition: none;
  }
}
@media screen and (min-width: 1400px) {
  .advantage-list {
    margin: 0 8% 0 8%;
  }
}
